*, *::before, *::after {
    box-sizing: border-box;
    font-family: Asap, proxima-nova, Arial, sans-serif;
    scrollbar-color: #666 #111;
}

body, html {
    margin: 0;

    background-color: #ccc;
}

#root {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    #mainContent {
        flex-grow: 1;
    }
}

@font-face {
    font-family: Homizio Nova;
    src: url("../assets/font/homizio nova/regular.ttf");
    font-weight: bold;
    line-height: 20px;
}

@font-face {
    font-family: Asap;
    src: url("../assets/font/asap/Asap-SemiBold.ttf");
    font-weight: bold;
    line-height: 20px;
}

@font-face {
    font-family: AsapBold;
    src: url("../assets/font/asap/Asap-Bold.ttf");
    font-weight: bold;
    line-height: 20px;
}
