
@use "common";
@use "header";
@use "navbar";
@use "projects";

.section-header {
    text-align: center;
    text-decoration: underline;
}

#about {
    width: 40vw;
    margin: 0 auto; //center
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;

    border: 1px solid black;
    text-align: center;

    p {
        font-size: 14pt;
    }
}

#project-list {
    max-width: 90vw;
    margin: 0 auto; //center

    border: 1px solid black;

    .tags-area {
        width: 100px;
    }

    .list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        border: 1px solid red;

        .project {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 700px;
            min-width: 400px;
            height: 200px;
            margin: 20px;
            padding: 20px;

            border: 1px solid black;
            text-decoration: none;
            overflow: hidden;

            &.expanded {
                width: 100%;
            }

            .icon {
                height: 150px;
                margin-right: 20px;
            }

            >div {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                height: 100%;
            }
        }
    }
}
