
@use "common";
@use "header";
@use "navbar";
@use "footer";

body,html {
    background-color: #cdc;
}

html {
    overflow-y: scroll;
}

.section-header {
    text-align: center;
    text-decoration: underline;
}

#about {
    width: 40vw;
    margin: 0 auto; //center
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;

    border: 1px solid black;
    text-align: center;

    p {
        font-size: 14pt;
    }
}

#project-list {
    max-width: 90vw;
    margin: 0 auto; //center

    border: 1px solid black;

    .tag {
        padding-top: 2px;
        padding-bottom: 3px;
        padding-right: 6px;
        padding-left: 6px;
        margin-right: 6px;

        border-radius: 6px;
        border: 1px solid black;
        background-color: #444;
        color: #ddd;
        cursor: pointer;
        user-select: none;

        &:hover {
            background-color: #777;
        }

        &.active {
            background-color: #eeb;
            color: #221;

            &:hover {
                background-color: #dda;
            }
        }
    }

    .tags-area {
        width: 100%;
        text-align: center;

        h3 {
            margin-bottom: 4px;
        }

        .tags-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 4px;
        }
    }

    .list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        border: 1px solid red;

        .project {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: calc(50% - 40px);
            max-width: 700px;
            min-width: 500px;
            height: 200px;
            margin: 20px;
            padding: 20px;

            border: 2px solid black;
            box-shadow: 4px 4px 8px #0004;
            color: black;
            background-color: white;
            text-decoration: none;
            overflow: hidden;

            &:hover {
                background-color: #eee;
            }

            &.expanded {
                width: 100%;
            }

            >a {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0px;
                top: 0px;

                z-index: 0;

                // background-color: #f005;
            }

            .icon {
                height: 150px;
                margin-right: 20px;
                order: 0;

                border: 2px solid black;
                box-shadow: 4px 4px 8px #0004;

                &.error {
                    width: 0px;
                }
            }

            >div {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                height: 100%;
                padding-bottom: 6px;
                order: 1;

                .title {
                    margin-top: 0;
                    margin-bottom: 0;

                    .name {
                        display: inline;
                        margin: 0;

                        font-size: 22pt;

                        &.size1 {
                            font-size: 22pt;
                        }
                        
                        &.size2 {
                            font-size: 19pt;
                        }
                        
                        &.size3 {
                            font-size: 16pt;
                        }
                    }
                    
                    .date {
                        display: inline;
                        margin: 0;
                        margin-left: 10px;
                        font-size: 14pt;

                        color: #333;
                    }
                }

                .desc {
                    flex-grow: 1;

                    overflow: hidden;

                    * {
                        position: relative;
                        z-index: 1;
                    }

                    p {
                        display: inline-block;
                        margin-top: 8px;
                        margin-bottom: 0;
                    }
                }

                .tags {
                    display: flex;
                    flex-direction: row;

                    .tag {
                        z-index: 4;
                    }
                }
            }
        }
    }
}
